{% extends 'base.html.twig' %}

{% block title %}Membre index{% endblock %}


{% block body %}
<div class="hero">
    <h2>{{pageName}}</h2>
    <section class="cta">
        <div class="cta-headline">
            <h3>Le plaisir des balades en plein air</h3>
        </div>
        <button class="cta-button">Devenir Gardien</button><button class="cta-button">Demander Gardien</button>
        <div class="cta-text">
            <p>Chez <strong>Toulouse AnimalSitter</strong>, les animaux n’ont pas de sentiment d’abandon ou d’ennui.</p>
        </div>
    </section>
</div>
        <div class="said">
    {% for membre in membres %}
    {% set createdAt = membre.createdAt ? membre.createdAt|date('Y-m-d H:i:s') : '' %}
    {% set modifiedAt = membre.modifiedAt ? membre.modifiedAt|date('Y-m-d H:i:s') : '' %}
        <div class="said1">
            <h2 class="">{{ membre.email }}</h2>
            <span>{{ membre.id }}</span>
            <p class="">{{ membre.roles ? membre.roles|json_encode : '' }}</p>
            <p class="">{{ membre.password }}</p>
            <p class="">{{ membre.nom }}</p>
            <p class="">{{ membre.prenom }}</p>
            <p class="">{{ membre.pseudo }}</p>
            {% if createdAt %}
            <p class="">{{ createdAt }}</p>
            {% else %}
            <p class="">{{ modifiedAt }}</p>
            {% endif %}
            <a class="btn btn-primary" href="{{ path('membre_show', {'id': membre.id}) }}">Voir</a>
            <a class="btn btn-primary" href="{{ path('membre_edit', {'id': membre.id}) }}">Modifier</a>
        </div>
        {% else %}
                <h2>Pas encore de Gardiens</h2>
        {% endfor %}
        </div>
    <a href="{{ path('membre_create') }}">Ajouter un Gardien</a>
{% endblock %}
